# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.pem
ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTpySWZmUzNsemJNTVBBcUlTY0U4VGwy@49.13.213.4:12699/?outline=1
